jupyter
tornado
boto
requests
nbformat
nbconvert
matplotlib
numpy
pandas
xgboost
opencv-python
keras 
tensorboard
torchvision 
h5py 
elyra 
jieba 
kfp 
lightgbm 
pandas 
requests 
seaborn 
tabulate
sklearn 
tensorflow
torch
